aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
asgiref
backoff
bcrypt
blinker
build
cachetools
chroma-hnswlib
chromadb
click
faiss-cpu
coloredlogs
dataclasses-json
Deprecated
durationpy
fastapi
flatbuffers
frozenlist
fsspec
gdown
gitdb
GitPython
google-auth
googleapis-common-protos
greenlet
grpcio
httptools
httpx-sse
huggingface-hub
humanfriendly
importlib_metadata
importlib_resources
joblib
jsonpatch
kubernetes
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
marshmallow
mmh3
monotonic
mpmath
multidict
narwhals
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
onnxruntime
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
pandas
pillow
posthog
propcache
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
pydeck
PyPika
pyproject_hooks
PySocks
python-dotenv
pytz
regex
requests-oauthlib
rsa
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
shellingham
smmap
SQLAlchemy
starlette
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch==2.0.1
tqdm
transformers
triton
typer
typing-inspect
tzdata
uvicorn
uvloop
watchdog
watchfiles
websockets
wrapt
yarl
zipp
zstandard
pysqlite3-binary
